{
    "env": {
        "mocha": true
    },
    "globals": {
        "HOST": false,
        "ADMIN": false,
        "SESSION": false,
        "USERS": false,
        "FIXTURES": false,
        "server": false,
        "httpTest": false
    },
    "rules": {
        "no-console": 0,
        "no-unused-expressions": 0,
        "global-require": 0
    }
}
